body{
  background-image: url('bgw.jpg');
  background-size: 80px;
  color: #3b3b3b;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

li{
  font-weight: 700;
  font-style: italic;
  list-style: none;
  display: inline-block;
  padding: 15px;
  font-size: 22px;
}

#nav{
  float: right;
  margin: 50px 100px;
}

#main{
  margin-left: 10%;
  padding-top: 15%;
  width: 65%;
}

h1 {
  font-family:'Helvetica', 'Arial', sans-serif; font-weight:700;
  letter-spacing: 7px;
  font-size: 50px;
  border-bottom: 10px solid #ffce20;
}

.head{
  width: 64%;
  margin-bottom: 60px;

}

p{

  font-size: 15px;
}

p a{
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
}

a{
  text-decoration: none;
}

a::after{
  width:0;
}

a:hover{
width: 100%;
background-color: #ffce20;
color: black;
transition: width 0.3s;
}

pre{
  font-size: 2px;
}
